* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  min-height: 100vh;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.sidebar {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;

  text-decoration: none;
}

.nav-icon {
  width: 1.5rem;
}

.nav-text {
  font-size: 1.25rem;
}

.logo .nav-text {
  font-size: 2rem;
  font-weight: bold;
}

.logo .nav-icon {
  width: 3rem;
}

.primary-nav ul,
.utility-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style-type: none;
}
