* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  gap: 16px;
  min-height: 100vh;
  padding: 8px;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  background-color: rgb(240, 240, 240);
}

svg {
  display: block;
}

.sidebar {
  grid-area: sidebar;

  background-color: #8bae66;
  border-radius: 8px;
  box-shadow: 0px 0px 5px;
}

.nav {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 16px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  color: whitesmoke;
  border: 1px solid #a2be85;
  border-radius: 10px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #a2be85;
}

.nav-link:active {
  background-color: #6f904c;
}

.nav-icon {
  width: 1.5rem;

  fill: whitesmoke;
}

.nav-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.logo .nav-link {
  border: none;
}

.logo .nav-icon {
  width: 3rem;
}

.logo .nav-text {
  font-size: 2rem;
}

.primary-nav ul,
.utility-nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0 8px;

  list-style-type: none;
}

.header {
  grid-area: header;
  display: grid;
  grid-template: auto auto / auto auto;
  grid-template-areas:
    "search user-menu"
    "user-greeting action-menu";
  padding: 16px;

  background-color: #ebd5ab;
  border-radius: 8px;
  box-shadow: 0px 0px 5px;
}

.search-container {
  grid-area: search;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 16px;
}

.search-icon {
  width: 1.5rem;
}

.search-input {
  flex: 1;
  padding: 0.5rem;

  font-size: 1rem;

  background-color: whitesmoke;
  border: none;
  border-radius: 2rem;
  outline: none;
}

.search-input:hover {
  background-color: #e9e9e9;
}

.user-menu {
  grid-area: user-menu;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 16px;
}

.notification-icon {
  width: 1.5rem;
}

.notification-icon:hover {
  fill: white;
}

.notification-icon:active {
  fill: gray;
}

.avatar {
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

.avatar-small {
  width: 2.5rem;
  height: 2.5rem;
}

.user-name {
  font-weight: bold;
}

.user-greeting {
  grid-area: user-greeting;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 16px;
}

.avatar-large {
  width: 5rem;
  height: 5rem;
}

h1 {
  font-size: 2rem;
}

.action-menu {
  grid-area: action-menu;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 16px;
}

.action-btn {
  padding: 0.5rem 1.5rem;

  font-size: 1rem;
  font-weight: bold;

  color: whitesmoke;
  background-color: #628141;
  border: none;
  border-radius: 2rem;
}

.action-btn:hover {
  background-color: #82aa57;
}

.action-btn:active {
  background-color: #4e6734;
}

.main-content {
  grid-area: main;
  display: grid;
  grid-template: auto auto / 3fr 1fr;
  grid-template-areas:
    "projects  announcements"
    "projects  trending";
  gap: 16px;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h2 {
  font-size: 1.5rem;
}

.projects {
  grid-area: projects;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 250px;
  gap: 16px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 5px;
}

.project-card {
  display: flex;
  padding: 16px;
}

.project-card-content {
  position: relative;

  overflow: auto;
}

.project-title {
  position: sticky;
  top: 0;

  font-size: 1.25rem;

  background-color: white;
}

.project-description {
  color: gray;
}

.announcements {
  grid-area: announcements;
}

.announcement-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 16px;
  overflow: auto;
}

.announcement-title {
  font-size: 1rem;
}

.announcement-short {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;

  font-size: 0.9rem;

  color: gray;
}

.trending {
  grid-area: trending;
}

.trending-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 16px;
  overflow: auto;
}

.trending-project {
  display: flex;
  align-items: center;
  gap: 16px;
}

.project-short {
  font-size: 0.9rem;
}

.user-tag {
  font-weight: bold;
}

.project-name {
  color: gray;
}
