* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  min-height: 100vh;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  background-color: #018790;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  color: #f4f4f4;
  border: 1px solid #00b7b5;
  border-radius: 10px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #00b7b5;
}

.nav-link:active {
  background-color: #005461;
}

.nav-icon {
  width: 1.5rem;

  fill: #f4f4f4;
}

.nav-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.logo .nav-link {
  border: none;
}

.logo .nav-icon {
  width: 3rem;
}

.logo .nav-text {
  font-size: 2rem;
}

.primary-nav {
  margin-bottom: auto;
}

.primary-nav ul,
.utility-nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0 0.5rem;

  list-style-type: none;
}

.header {
  grid-area: header;
  display: grid;
  grid-template: auto auto / auto auto;
  grid-template-areas:
    "search user-menu"
    "user-greeting action-menu";
  padding: 1rem;
}

.search-container {
  grid-area: search;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.search-icon {
  display: block;
  width: 1.5rem;
}

.search-input {
  flex: 1;
  padding: 0.5rem;

  font-size: 1rem;

  border: 1px solid black;
  border-radius: 2rem;
}

.user-menu {
  grid-area: user-menu;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.notification-icon {
  width: 1.5rem;
}

.avatar-small {
  width: 2.5rem;
  height: 2.5rem;

  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

.user-name {
  font-weight: bold;
}

.user-greeting {
  grid-area: user-greeting;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.avatar-large {
  width: 5rem;
  height: 5rem;

  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

h1 {
  font-size: 2rem;
}

.action-menu {
  grid-area: action-menu;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.action-btn {
  padding: 0.5rem 1.5rem;

  font-size: 1rem;

  border: none;
  border-radius: 2rem;
}
